<header class="header-home">
        <horizontal-menu-component>
          <div class="apart-header-nav" style="flex: 1;justify-content: center;align-items: center;">
            <icon-text-wrap-component [iconUrl]="'assets/svg/example_logo.svg'" [typeAnimations]="{icon:{typeAnimation:'hover-scale',scaleDuration:'0.5s',scaleTiming:'ease-in-out'} }"  [functionToDo]="NavigateToHome" [iconStyle]="{ width: '25%', height: 'auto',marginLeft:'3vw'}"/>
          </div>
          @for (element of elementsHeader; track element.id) {
            <div class="apart-header-nav" [typeAnimation]="'hover-underline'" [animationStyle]="animationHoverUnderline" style="flex: 1;flex-direction: row;align-items: center;" (click)="NavigationFunction(element.path,element.id,$event)">
              <icon-text-wrap-component [iconUrl]="element.icon" [text]="element.text" [textStyle]="[styleTextHeader, { color: actualState() === element.id ? '#218ffc' : 'white' }] | mergeStyles" [iconStyle]="[iconStyleHeader, { color: actualState() === element.id ? '#218ffc' : 'white' }] | mergeStyles" style="display: contents;"/>
            </div>
          }
          <div class="apart-header-nav" style="flex: 1;align-items: center;justify-content: end;" #openChangeLanguage>
            <icon-text-wrap-component [iconUrl]="'language'" [typeAnimations]="{icon:{typeAnimation:'hover-scale',scaleDuration:'0.5s',scaleTiming:'ease-in-out'} }"  [functionToDo]="OpenChangeLanguage" [iconStyle]="[{ fontSize:'3vw',color:'white',marginRight:'6vw'},{color: openLanguage()?'#218ffc':'white'}] | mergeStyles"/>
          </div>
        </horizontal-menu-component>
  </header>
    @if(openLanguage()){
        <deployment-menu-component [elementToAssign]="_divChangeLanguage.nativeElement" [directionMenu]="'bottom-center'" [stylesParent]="{height:'8vw',width:'7vw',backgroundColor:'#083D56',marginLeft:'1vw',borderBottomLeftRadius:'1vw',borderBottomRightRadius:'1vw',boxShadow:'0px 0.4vw 6px #0A4C6B',zIndex:'2'}" [durationAnimation]="'0.5s'">
          <div class="menu-language-apart">
            <icon-text-wrap-component [iconUrl]="'assets/svg/icon_flag_mexico.svg'" [typeAnimations]="{icon:{typeAnimation:'hover-scale',scaleDuration:'0.5s',scaleTiming:'ease-in-out'} }" [iconStyle]="{objectFit:'contain',maxWidth:'100%',maxHeight:'100%'}" [functionToDo]="ChangeToSpanish" style="display: contents;"/>
          </div>
          <div class="menu-language-apart">
            <icon-text-wrap-component [iconUrl]="'assets/svg/icon_flag_eu.svg'" [typeAnimations]="{icon:{typeAnimation:'hover-scale',scaleDuration:'0.5s',scaleTiming:'ease-in-out'} }" [iconStyle]="{objectFit:'contain',maxWidth:'100%',maxHeight:'100%'}" [functionToDo]="ChangeToEnglish" style="display: contents;"/>
          </div>
        </deployment-menu-component>
    }
<router-outlet></router-outlet>
<footer class="footer-homer">
  @defer(on viewport){
    <wave-animation-component [startWave]="footerWaveInit" [precision]="240" [duration]="25000" [colorWave]="'#083d56'" [finalWave]="footerWaveFinal">
      <div class="footer-content">
        <div class="content" style="margin-bottom: 7%;">
          <icon-text-wrap-component [iconUrl]="'assets/svg/example_logo.svg'" [iconStyle]="{objectFit:'contain',maxWidth:'100%',maxHeight:'100%'}" style="display: contents;"/>
        </div>
        <div class="content" style="height: 30%;flex-direction: row;">
            <div class="div" [typeAnimation]="'hover-underline'" [animationStyle]="animationHoverUnderline">
              <icon-text-wrap-component [iconUrl]="'assets/svg/icon_github.svg'" [text]="'CesarVielmas'" [textStyle]="[styleTextHeader,{fontWeight:'300'}] | mergeStyles" [iconStyle]="[iconStyleHeader,{objectFit:'contain',maxWidth:'60%',maxHeight:'60%'}] | mergeStyles" style="display: contents;"/>
            </div>
            <div class="div" [typeAnimation]="'hover-underline'" [animationStyle]="animationHoverUnderline">
              <icon-text-wrap-component [iconUrl]="'assets/svg/icon_linkedin.svg'" [text]="'Cesar Vielmas'" [textStyle]="[styleTextHeader,{fontWeight:'300'}] | mergeStyles" [iconStyle]="[iconStyleHeader,{objectFit:'contain',maxWidth:'60%',maxHeight:'60%'}] | mergeStyles" style="display: contents;"/>
            </div>
        </div>
        <div class="content" style="height: 35%;flex-direction: row;">
            <div class="div">
              <icon-text-wrap-component [iconUrl]="'location_on'" [text]="'Monterrey, Nuevo Leon, Mexico'" [textStyle]="[styleTextHeader,{fontWeight:'300',fontSize:'1vw',marginLeft:'8%'}] | mergeStyles" [iconStyle]="{fontSize:'2vw',color:'white'}" style="display: contents;"/>
            </div>
            <div class="div">
              <icon-text-wrap-component [iconUrl]="'phone'" [text]="'81 3233 1206'" [textStyle]="[styleTextHeader,{fontWeight:'300',fontSize:'1vw',marginLeft:'15%',textAlign:'start'}] | mergeStyles" [iconStyle]="{fontSize:'2vw',color:'white'}" style="display: contents;"/>
            </div>
            <div class="div">
              <icon-text-wrap-component [iconUrl]="'email'" [text]="'vielmassalais023@gmail.com'" [textStyle]="[styleTextHeader,{fontWeight:'300',fontSize:'1vw',marginLeft:'8%'}] | mergeStyles" [iconStyle]="{fontSize:'2vw',color:'white'}" style="display: contents;"/>
            </div>
        </div>
      </div>
    </wave-animation-component>
  }
  @placeholder{
    <p>Footer</p>
  }
  @loading{
    <p>Footer...</p>
  }
</footer>