@use "@app/styles/_animations_classes.scss";
@import "@app/styles/flags.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html, body { height:100%; margin: 0; padding: 0; box-sizing:border-box; width: 100%;}
